<!DOCTYPE html>
<html>
<head>
	<? require_once $_SERVER['DOCUMENT_ROOT'] . '/fragments/header-fragment.php' ?>
	<title>{{title}}</title>
</head>
<body>
	<? require_once $_SERVER['DOCUMENT_ROOT'] . '/fragments/nav-header.php' ?>

    <div class="container">
        <div class="bg-dark el-content-container">
			{{{content}}}
		</div>
	</div>
</body>
</html>
